---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.jsx";
import About from "../components/About.jsx";
import Work from "../components/Work";
---

<Layout title="Gopal Kaul | Home">
  <main>
    <Home client:visible />
    <section id="about"><About /></section>
    <section id="experience"><Work client:visible /></section>
  </main>
</Layout>
