---
import type { MarkdownLayoutProps } from "astro";
import Overlay from "../components/Overlay";
import { IoArrowBack } from "react-icons/io5/index";
type Props = MarkdownLayoutProps<{
  title: string;
  date: string;
}>;
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <title>{frontmatter.title}</title>
    <!-- <meta rel="canonical" href={new URL(url, Astro.site).pathname} /> -->
  </head>
  <body
    class="bg-background mx-8 lg:mx-60 pt-32 text-white mb-10 overflow-scroll"
  >
    <a class="flex flex-row gap-2 items-center" href="/blog">
      Go Back <IoArrowBack />
    </a>
    <div
      class="prose prose-headings:text-neonBlue prose-strong:text-neonBlue prose-a:text-light prose-code:text-white text-white max-w-none prose-code:before:hidden prose-code:after:hidden"
    >
      <slot />
    </div>
    <Overlay />
  </body>
</html>
